<mat-toolbar color="primary">
    <mat-toolbar-row>
      <span><a routerLink="/">TheSocialApp</a></span>
      <span class="spacer"></span>
      <ul>
        <li *ngIf="userIsAuthenticated">
          <a mat-button routerLink="/create" routerLinkActive="mat-accent">New Post</a>
        </li> 
        <li *ngIf="!userIsAuthenticated">
          <a mat-button routerLink="/login" routerLinkActive="mat-accent"> Login </a>
        </li>
        <li  *ngIf="!userIsAuthenticated">
          <a mat-button routerLink="/signup" routerLinkActive="mat-accent"> SignUp </a>
        </li>
        <li *ngIf="userIsAuthenticated">
          <button mat-button (click)="onLogout()"> Logout </button>
        </li>
      </ul>
    </mat-toolbar-row>
</mat-toolbar>