main{
    margin-top: 1rem;
    width: 80%;
    margin: auto;
}
.docs-footer[_ngcontent-xew-c50]{padding:12px;font-size:12px}.docs-footer-list[_ngcontent-xew-c50]{align-items:center;display:flex;flex-flow:row wrap;padding:8px}.docs-footer-logo[_ngcontent-xew-c50]{flex:1}.docs-footer-angular-logo[_ngcontent-xew-c50]{height:50px}.docs-footer-version[_ngcontent-xew-c50]{display:flex;justify-content:center;align-items:center;flex:1}.docs-footer-version[_ngcontent-xew-c50]   .angular-material-logo[_ngcontent-xew-c50]{width:40px;height:40px;margin:10px 0 10px 16px}.docs-footer-version[_ngcontent-xew-c50]   .version[_ngcontent-xew-c50]{margin:0 40px}.docs-footer-copyright[_ngcontent-xew-c50]{display:flex;flex:1;justify-content:flex-end;flex-direction:column;min-width:225px;margin-top:16px}.docs-footer-copyright[_ngcontent-xew-c50] > div[_ngcontent-xew-c50]{display:flex;flex-direction:column;align-self:flex-end;text-align:center}@media (min-width: 885px){.docs-footer-copyright[_ngcontent-xew-c50]{margin-top:0}}.docs-footer-logo[_ngcontent-xew-c50]   span[_ngcontent-xew-c50]{display:inline-block;line-height:50px;margin:0 40px;vertical-align:bottom}.docs-footer-logo[_ngcontent-xew-c50]   span[_ngcontent-xew-c50]   a[_ngcontent-xew-c50]{font-size:16px;padding:0}a[_ngcontent-xew-c50]{text-decoration:none;color:inherit}a[_ngcontent-xew-c50]:hover, a[_ngcontent-xew-c50]:focus{text-decoration:underline}@media screen and (max-width: 884px){.docs-footer-list[_ngcontent-xew-c50]{flex-direction:column}}